<dal name="Dal.config">
	<databaseSets>
    <databaseSet name="DalTestLogic" provider="sqlProvider" shardingStrategy="class=Arch.Data.DbEngine.Sharding.ModShardingStrategy;column=Person:ContryId;mod=2;shardByDB=false;shardByTable=true">
      <add name="DalTest_M" databaseType="Master" sharding="" connectionString="DalTest"></add>
    </databaseSet>
	</databaseSets>
 
	
	<databaseProviders>
        <add name="sqlProvider" type="Arch.Data.DbEngine.Providers.SqlDatabaseProvider,Arch.Data"/>
        <!--如果只用Sql Server,请注释掉下面这行，否则可能有运行时错误-->
        <!--<add name="mySqlProvider" type="Arch.Data.MySqlProvider.MySqlDatabaseProvider,Arch.Data.MySqlProvider"/>-->
	</databaseProviders>
  <connectionLocator path="Config\\Database.Config"/>
</dal>